__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
data/logs/

*.sqlite
*.sqlite3
*.db

data/
laanonima-tracker/data/analysis/reports/
laanonima-tracker/data/analysis/plots/
